@charset "UTF-8";

/* Q1: 제목(h3)에 왼쪽 테두리(10px solid #ff6600), 배경색(#ffcc99), 패딩(1em)을 주려면? */
/*h3{ border-left: 10px solid #ff6600;
    background-color: #ffcc99;
    padding: 1em;}*/
/* Q2:  둥근 모서리(10px) , 그림자효과를 주려면?  
.box{border-radius: 10px;
    box-shadow: 0 0 10px rgb(196, 41, 41);
    padding: 10px;} 
*/
#demo img{object-fit: cover;}

/*배경 body fixed 하고 원하는 배경 부분만 투명하게*/
.mybg{ background-color: transparent;}

body{ background-image: url(../img/Spacer.jpg);
    /* background: linear-gradient(135deg, rgb(196, 194, 136), rgb(131, 232, 220));*/
     background-repeat:repeat;
     background-size: cover;
     background-position: bottom;
     background-attachment: fixed;
    }

h3{transition: all 0.3s ease; color: white;}
h3:hover{color: red; font-size: 2em;}

.myhidden{ position: absolute; left: -9999px; width: 1px; top: 1px;
    height: 1px; overflow: hidden;  border: 0; white-space: nowrap;
clip:rect(0,0,0,0); /*요소를 잘라서 시각적으로 완전히 숨김-구형브라우저 호환*/
}